@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap');

body, #fluig-sicoob form, #fluig-sicoob table td, #fluig-sicob table th, #fluig-sicoob button.btn, #fluig-sicoob button, #fluig-sicoob .btn {
     font-family: 'Asap', sans-serif;
} 

body{
    margin: 0px;
}

#fluig-sicoob [readonly] {
    cursor: not-allowed;
    pointer-events: none;
    background-image: none;
    border: 0;
    background-color: #fff;
    color: #555;
    font-size: 14px;
}

#fluig-sicoob i {
    margin-right: 5px;
    padding-top: 1px;
}

#fluig-sicoob hr {
    border-top-color: rgb(203, 219, 200);
    margin-bottom: 25px;
}

#fluig-sicoob .container-fluid{
    background-color: #fff;
    width: 100%;
    height: fit-content;
}

#fluig-sicoob .form-group input, #fluig-sicoob .form-input input, #fluig-sicoob .form-group select, #fluig-sicoob .form-group textarea{
    border: 1px solid #ddd;
    padding: 0 5px;
    width: -webkit-fill-available;
    box-shadow: none!important;
}

form select {
    border: 1px solid #ddd!important;
    box-shadow: none!important;
}

.form-control:focus {
    box-shadow: none!important;
}

#fluig-sicoob .container-fluid{
    background-color: #eee;
    width: 100%;
    height: fit-content;
}

#fluig-sicoob .form-group input, #fluig-sicoob .form-input input, #fluig-sicoob .form-group select, #fluig-sicoob .form-group textarea{
    border: 1px solid #ddd;
    padding: 0 5px;
    width: -webkit-fill-available;
    box-shadow: none!important;
}

form select {
    border: 1px solid #ddd!important;
    box-shadow: none!important;
}

.form-control:focus {
    box-shadow: none!important;
}

/* Header */
div#header {
    background-color: #003641;
    height: 60px;
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    font-family: 'Asap', sans-serif;
}

div#header span {
    color: #fff;
    top: 5px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    width: calc(100%);
    position: relative;
    font-weight: 700;
}

div#header2 {
    background-color: #00AE9D;
    height: 4px;
    margin: 0 !important;
}

#header img {
    padding-top: 7px;
    padding-left: 7%;
    float: left;
    height: 45px;
    box-sizing: content-box;
    position: absolute;
    left: 0;
}

#fluig-sicoob button.btn, #fluig-sicoob button {
    background-color: #00Ae9d;
    color: #fff;
    font-weight: 600;
    border: none;
    font-size: 14px;
    outline: 0;
    transition: all 0.2s;
    line-height: 15px;
    padding: 8px 20px 8px 20px;
    border-radius:5px;
}


#fluig-sicoob i{
    margin-right: 5px;
    top: 2px;
}

.unstyled::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

#fluig-sicoob .ladrilhos img {
    height: 25px;
    width: 100%;
}

#fluig-sicoob #table {
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0px 30px;
    border: 1px solid #eee;
}

.bpm-mobile-trash-column span.fs-display-block {
    padding: 10px 5px 10px 10px!important;
}

.bpm-mobile-trash-column span.fs-display-block i {
    font-size: 20px;
}

#fluig-sicoob input:focus, #fluig-sicoob textarea:focus {
    border-color: #00Ae9d;
    outline: none;
}

#fluig-sicoob .form-group {
    margin-top: 0px;
}

#fluig-sicoob hr {
    border-top-color: #7db61c;
    margin-bottom: 25px;
}

#fluig-sicoob  .form-group textarea {
    box-shadow: none;
    width: -webkit-fill-available;
    height: unset;
}

#fluig-sicoob form label {
    font-weight: 600;
    font-family: 'Asap', sans-serif;
}

#fluig-sicoob .coop input{
    max-width: fit-content!important;
}

#fluig-sicoob .custom-checkbox.custom-checkbox-sicoob input[type=checkbox]:checked+label:before {
    background-color: #00Ae9d;
}
#fluig-sicoob .custom-checkbox.custom-checkbox-sicoob  input[type=checkbox]:checked+label:before {
    background-color: #00Ae9d;
}

#monitor-table td.cooperativa, #monitor-table td.status {
    text-align: center;
}

#fluig-sicoob #monitor-table tr.analisar:hover {
    border: 2px solid #00Ae9d;
    color: #00Ae9d;
}

#fluig-sicoob table#monitor-table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding: 5px!important;
}

#fluig-sicoob div#filtros {
    border: 2px solid #00Ae9d;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 25px;
}

#monitor-table thead {
    background-color: #00Ae9d;
    color: #fff;
    border-radius: 30px;
}

#monitor-table tr.em-analise .status i, i.flaticon.em-analise {
    color: #F9A825;
    font-weight: 900;
}

#monitor-table tr.analisado .status i, i.flaticon.analisado {
    color: #4CAF50;
    font-weight: 900;
}

#monitor-table tr.analisar .status i, i.flaticon.analisar {
    color: #00Ae9d;
    font-weight: 600;
}

#fluig-sicoob #monitor-table tr.analisar:hover .custom-checkbox label:before {
    border: 2px solid #00Ae9d;
}

#fluig-sicoob .custom-checkbox-sicoob {
    top: 3px;
}

#fluig-sicoob #monitor-table tr.analisar:hover td {
    color: #00Ae9d;
    font-weight: 500;
}

#fluig-sicoob .row.legenda div {
    width: fit-content;
    float: right;
}

#fluig-sicoob .row.legenda {
    margin-bottom: 10px;
    font-weight: 500;
}

#fluig-sicoob tr.em-analise:hover tr {
    pointer-events: none;
}

#fluig-sicoob tr.em-analise:hover, #fluig-sicoob tr.analisado:hover {
    cursor: default;
}

div#fluig-sicoob table th {
    color: #fff;
    font-weight: 600;
    border: 0;
}

div#fluig-sicoob table th:first-child {
    border-radius: 5px 0 0 0;
}

div#fluig-sicoob table th:last-child {
    border-radius: 0 5px 0 0;
}

#fluig-sicoob input::placeholder {
    color: #c0c0c0;
}

#fluig-sicoob #monitor-table tr {
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
}

#monitor-table .custom-checkbox label:before {
    margin: 0px 0px 0 4px;
}

#monitor-table .custom-checkbox-sicoob label:after {
    left: 4px;
}

#fluig-sicoob table td {
    font-size: 13px;
}

#fluig-sicoob #monitor-table tr.analisar.selected td {
    font-weight: 600;
    color: #00Ae9d;
}

#fluig-sicoob #limites-monitor {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#fluig-sicoob .input-group .input-group-addon {
    border: 0;
    background-color: #003641;
}

#fluig-sicoob #monitor_escolha {
    width: 90%;
    padding: 20px;
}

#fluig-sicoob .lista_testes .box-teste {
    border-radius: 5px;
    border: 2px solid #00a395;
    margin-bottom: 10px;
}

#fluig-sicoob .lista_testes {
    margin-top: 15px;
    padding: 5px;
}

#fluig-sicoob .lista_testes .linha .line-el {
    padding: 10px 20px;
    align-items: stretch;
}

#fluig-sicoob .box-teste .nao-itens {
    padding: 15px 0;
    margin: 0;
    border-top: 1px solid #009688;
}

#fluig-sicoob .lista_testes .row.linha {
    margin: 0;
}

#fluig-sicoob .box-teste .line-el.desc-teste {
    border-left: 1px solid #00A395;
}

#fluig-sicoob .box-teste .desc-teste span {
    font-weight: 600;
}

#fluig-sicoob .aderencia {
    margin: 0;
}

#fluig-sicoob p.block-title {
    border: 2px solid #48b800;
    border-width: 0 0 2px 0;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.7;
    margin: 6px -2px 15px;
    border-top: 1px solid #eee;
}

#fluig-sicoob thead, #fluig-sicoob #head {
    background-color: #00Ae9d;
    margin: 0;
    font-weight: 600;
    color: #fff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #00ae9d;
}

#fluig-sicoob #analise-table td, #fluig-sicoob #analise-table th {
    border-right: 1px solid #eee;
    padding: 10px;
}

.fluig-style-guide .custom-radio.custom-radio-sicoob input[type=radio]:checked+label:after {
    background-color: #00ae9d;
}

.fluig-style-guide .custom-radio.custom-radio-sicoob input[type=radio]:checked+label:after {
    background-color: #00ae9d;
}

#fluig-sicoob #analise-table td:last-child, #fluig-sicoob #analise-table th:last-child {
    border: none;
}

#fluig-sicoob tbody tr {
    border: 1px solid #eee;
}

#fluig-sicoob #analise-table td.nao-fields {
    border: 2px solid #00ae9d;
    border-width: 0 0 2px 0;
    display: flex;
    position: relative;
    background: #00ae9d;
}

#fluig-sicoob #analise-table button.additem-btn {
    background: 0;
    color: #00ae9d;
    padding: 0px;
}

#fluig-sicoob #analise-table tr.selected {
    border: 2px solid #00ae9d;
}

#fluig-sicoob #analise-table tr.nao-itens, #fluig-sicoob #analise-table tr.justif-campo {
    border: 0;
    overflow: hidden;
    width: calc(100% - 32px);
    display: inline-flex;
    position: absolute;
    margin-top: -1px;
    border-top: 2px solid #00ae9d;
    height: 56px;
    background: #fff;
}

#fluig-sicoob button.btn.btn-second {
    background: 0;
    color: #9e9e9e;
}

#fluig-sicoob button.btn.btn-primary:hover {
    background: #003641;
}

#fluig-sicoob button.btn.btn-second:hover {
    color: #fff;
    background: rgba(0, 54, 65, 0.72);
}

#fluig-sicoob .additem-btn i {
    margin: 0;
}

#fluig-sicoob #analise-table tr td.ordem-item.nao-fields {
    border-width: 0px 2px 2px;
    border-radius: 0 0 15px 0;
    background: #fafafa;
    width: 130px;
    padding-left: 8px;
    overflow: hidden;
}

#fluig-sicoob #analise-table tr td.descricao_item {
    border-width: 0px 0 2px 2px;
    border-radius: 0 0 0 15px;
    padding: 0;
    width: -webkit-fill-available;
    background: #00ae9d;
}

#fluig-sicoob #analise-table tr.space {
    height: 55px;
    border: 0;
    background: 0;
}

#fluig-sicoob #analise-table tr td.descricao_item textarea {
    border: 1px solid #00ae9d;
    background: #fff;
    padding: 8px;
    padding-left: 15px;
    z-index: 999999;
    height: 100%;
    border-radius: 0 0 15px 15px;
    position: relative;
    border-width: 0 1px 1px 0;
}

#fluig-sicoob #analise-table .add_item {
    border-top: 0;
    border-right: 0;
    width: 5%;
    text-align: center;
}

#fluig-sicoob #analise-table .btn-anexo {
    padding: 10px 7px 12px 12px;
    border-radius: 0;
}

#fluig-sicoob #analise-table td.anexo-item {
    padding: 0;
}

#fluig-sicoob .table>thead>tr>th {
    border-bottom: none;
}

#fluig-sicoob #analise-table tr.justif-campo {
    border: 2px solid #00ae9d;
    border-width: 1px 2px 2px 2px;
    background: #00ae9d;
    height: 56px;
    margin-left: calc(10% - 4px);
    width: calc(90% - 28px);
    border-radius: 0 0 15px 15px;
}

#fluig-sicoob #analise-table .justif-campo td.descricao_item {
    width: 100%;
    background: #00ae9d;
}

#fluig-sicoob .row.actions-btn {
    float: right;
    margin-top: 10px;
}

#fluig-sicoob .custom-checkbox input[type=checkbox]+label:before, #fluig-sicoob .custom-checkbox input[type=radio]+label:before, #fluig-sicoob .custom-radio input[type=checkbox]+label:before,#fluig-sicoob .custom-radio input[type=radio]+label:before {
    margin-right: 4px;
}

#fluig-sicoob #analise-table tr.space td {
    border: 0;
}

#fluig-sicoob input.input-info {
    background: none;
    border: 0;
    height: 16px;
    padding: 0;
}

#fluig-sicoob div#analise-info {
    margin: 25px 0 20px 0;
}

#fluig-sicoob input.input-info.title {
    font-weight: 600;
    margin-bottom: 10px;
    width: inherit;
}

#fluig-sicoob button.btn-collapse {
    color: #00Ae9d;
    background: 0;
    float: right;
    padding: 0;
}

#fluig-sicoob .btn-collapse i {
    font-weight: 900;
    font-size: 18px;
}

table#analise-table {
    margin-bottom: 0;
}

#fluig-sicoob .ordem-item label {
    margin: 0;
    padding: 4px;
}

#fluig-sicoob .ordem_item input {
    padding: 3px 8px;
    height: 18px;
}

#fluig-sicoob #analise-table td.ordem_item.nao-fields {
    border-radius: 0 0 15px 0;
    background: #fff;
    border-right: 2px solid #00ae9d;
}

#fluig-sicoob #head div {
    padding: 10px;
    font-size: 14px;
}

#fluig-sicoob #table .body .row {
    margin: 0;
    display: -webkit-box;
}

#fluig-sicoob #table .body .row>div {
    border: 1px solid #eee;
    padding: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

#fluig-sicoob #head div:not(:last-child) {
    border-right: 1px solid #eee;
}

#fluig-sicoob #table .body .row .descricao_item {
    border-radius: 0 0 10px 0;
    padding: 5px;
}

#fluig-sicoob #table .body .row .descricao_item textarea {
    width: 100%;
    border: 0;
}

#fluig-sicoob .nao-itens button.btn-add {
    background: 0;
    color: #00Ae9d;
    padding: 5px;
    float: right;
}

#fluig-sicoob  .btn-anexo {
    padding: 0;
    width: 100%;
    border-radius: 0;
    background: #00ae9d;
    height: 64px;
}

@media (max-width: 450px){
    .hidden-phone{
        display: none;
    }

    textarea.descricao{
        height: 70px;
    }
    
    div#header span{
        width: -webkit-fill-available;
    }

    #fluig-sicoob form{
        margin: 0;
    }
}

@media (min-width: 450px){
    #fluig-sicoob  div.option {
        width: 4.1555%;
    }
}

#fluig-sicoob .subItens {
    padding: 0!important;
}

#fluig-sicoob .subItens div {
    padding: 10px;
    border: 1px solid #eee;
    border-width: 0 0 1px;
}

#fluig-sicoob .subItens .custom-radio label:before {
    margin-right: 5px!important;
}

#fluig-sicoob #table .row.aderencia {
    display: block;
}

#fluig-sicoob #table .body .aderencia>div, #fluig-sicoob #table .body .analise>div {
    border: 0;
}

#fluig-sicoob [alx-row] input.input-info {
    font-weight: 600;
}

#fluig-sicoob .separate [alx-row] {
    border: 2px solid #00ae9d;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

#fluig-sicoob .separate [alx-row]:not(:first-child) {
    border-radius: 10px;
}

#fluig-sicoob .separate #table {
    border: 0;
}

#fluig-sicoob #analise-table  [alx-id="subitem"] button.btn {
    border-radius: 0;
    width: 100%;
    min-height: 52px;
}

#fluig-sicoob #table .anx span {
    font-weight: 700;
}

#fluig-sicoob #table .anx a {
    margin: 0 6px;
    background: #f6f6f6;
    padding: 3px 5px;
    border-radius: 3px;
}

#fluig-sicoob #table .anx {
    display: none;
}

#fluig-sicoob .btn-primary {
    background: #00ae9d;
}

#fluig-sicoob #table .backup .row {
    display: block;
}

#fluig-sicoob #table .backup .row div {
    border: 0;
}