@import url('https://fonts.googleapis.com/css?family=Asap:400,600,700&display=swap');

body, #fluig-sicoob form, #fluig-sicoob table td, #fluig-sicob table th, #fluig-sicoob button.btn, #fluig-sicoob button, #fluig-sicoob .btn {
     font-family: 'Asap', sans-serif;
}

body{
    margin: 0px;
}

#fluig-sicoob .container-fluid{
    background-color: #eee;
    width: 100%;
    height: fit-content;
}

#fluig-sicoob form{
    background-color: #fff;
    padding: 30px;
}

#fluig-sicoob .form-group input, #fluig-sicoob .form-group select, #fluig-sicoob .form-group textarea{
    border: 1px solid #ddd;
    padding: 0 5px;
    width: -webkit-fill-available;
    border-radius: 5px;
    box-shadow: none!important;
}

form select {
    border: 1px solid #ddd!important;
    box-shadow: none!important;
}

.form-control:focus {
    box-shadow: none!important;
}

div#header {
    background-color: #003641;
    height: 60;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    font-family: 'Asap', sans-serif;
}

div#header span {
    color: #fff;
    display: block;
    font-size: 20px;
    top: 5px;
    text-align: center;
    position: relative;
    font-weight: 700;
}

div#header2 {
    background-color: #00Ae9d;
    height: 4px;
    margin: 0!important;
}

#header img{
    padding-top: 7px;
    padding-left: 7%;
    height: 45px;
    box-sizing: content-box;
    float: left;
    left: 0;
}


/* Tabs */
#fluig-sicoob .container.tabs {
    background-color: #fff;
}

#fluig-sicoob #tabs.container {
    padding: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
}

#fluig-sicoob .tabs {
    background: #00AE9D;
}

#fluig-sicoob .nav-tabs>li.active>a, #fluig-sicoob .nav-tabs>li.active>a:focus, #fluig-sicoob .nav-tabs>li.active>a:hover {
    color: #003641;
    border: 0;
    font-weight: 700;
    padding-bottom: 11px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 10px;
}

#fluig-sicoob .nav-tabs>li a {
    color: #fff;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
    border: 0;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1px;
    line-height: 15px;
    height: 36px;
    padding: 12px 30px 10px;
    transition: 0.2s all ease-in-out;
}

#fluig-sicoob button.btn, #fluig-sicoob button {
    background-color: #00Ae9d;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 14px;
    outline: 0;
    padding: 5px 10px;
    border-radius:5px;
}

#fluig-sicoob i{
    margin-right: 8px;
    padding-top: 2px;
}

.unstyled::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

#fluig-sicoob .ladrilhos img {
    height: 25px;
    width: 100%;
}

#fluig-sicoob #table {
    border-radius: 5px;
    margin: 0 0px 5px;
}

.bpm-mobile-trash-column span.fs-display-block {
    padding: 10px 5px 10px 10px!important;
}

.bpm-mobile-trash-column span.fs-display-block i {
    font-size: 20px;
}

#fluig-sicoob input:focus, #fluig-sicoob textarea:focus {
    border-color: #00Ae9d;
    outline: none;
}

#fluig-sicoob .form-group {
    margin-top: 0px;
}

#fluig-sicoob hr {
    border-top-color: #7db61c;
    margin-bottom: 25px;
}

#fluig-sicoob  .form-group textarea {
    box-shadow: none;
    width: -webkit-fill-available;
    height: unset;
}

#fluig-sicoob form label {
    font-weight: 600;
}

#fluig-sicoob .coop input{
    max-width: fit-content!important;
}

@media (max-width: 450px){
    .hidden-phone{
        display: none;
    }

    #fluig-sicoob .form-group textarea.descricao{
        height: 70px;
    }

    div#header span{
        width: -webkit-fill-available;
    }
}

#fluig-sicoob .form-group input::placeholder {
    color: #dfdfdf;
}

#fluig-sicoob .nav-tabs {
    margin-left: calc( 16.66666666% + 10px);
}


#fluig-sicoob .input-group-addon {
    background: #003641;
}

#fluig-sicoob .input-group .money {
    border-radius: 0 5px 5px 0;
    padding-left: 5px;
    padding-top: 5px;
}